 *{
 	margin:0;
 	padding:0; 
 	box-border: border-boxing; 
 }

 html{
  	background: url("stickybackground.png") no-repeat center center fixed; 
	background-size: cover;
}

#rpg-list-container{
	width: 26%;
	height:70%;
	margin-left:50px;
	margin-top:100px;
	font-family: Open Sans, Helvetica, Arial, sans-serif;
	display: inline-block;
	float: left;
	overflow:scroll;

}
#task-list-container{
	  width: 20%;
	  height: 70%;
	  margin-top: 100px;
	  display: inline-block;
	  font-family: Open Sans, Helvetica, Arial, sans-serif;
	  float: left;
	  position: absolute;
	  overflow:scroll;
}
 .rpgSpecifics{
 	font-family:Courier New, monospace;
 	display: inline-block;
 	width: 232px;
 	border:solid 3px black;
 	position: relative;
 	border-radius:5px;
 }

.tasks{
	display:block;
}

.tasks.close{
  overflow: scroll;
}

button{
	margin-top:30px;
	font-family:Courier New, monospace;
	margin-bottom:0;
}

.more-task{
	float:right;
	margin-top:150px;
	display: inline-block;
	margin-right:200px;
}

